{
  "semi": true,
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^(react|next)",
    "<THIRD_PARTY_MODULES>",

    "^@/shared",
    "^@/app",
    "^@/processes",
    "^@/pages",
    "^@/widgets",
    "^@/features",
    "^@/entities",
    "^\\.(\\.)?/\\w+"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
